<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app">
    </div>
    <script>
        var app = Vue.createApp({
            data() {
                return {
                    users: [{
                            name: "张三"
                        },
                        {
                            name: "李四",
                            age: "23"
                        },
                        {
                            name: "王五"
                        }
                    ],
                    userTxt: "",
                }
            },
            methods: {
                addItem() {
                    if (this.userTxt != "") {
                        this.users.push({
                            name: this.userTxt
                        });
                        this.userTxt = "";
                    }
                }
            },
            template: `
            <div>
                <input v-model="userTxt"/>
                <button @click="addItem">添加用户</button>
                <ul>
                    <list v-for="(user, index) in users" 
                            :index = "index" 
                            :user = "user"/>
                </ul>
            </div>
            `
        });
        app.component("list", {
            props: ["index", "user"],
            template: `<li>{{index}}-{{user.name}}</li>`
        });
        app.mount("#app");
    </script>
</body>

</html>