<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../vue3.js"></script>
</head>

<body>
    <div id="app"></div>
    <script>
        var app = Vue.createApp({
            data() {
                return {
                    count: 0
                }
            },
            methods: {
                IhandleClick(param) {
                    console.log(param);
                    this.count = param;
                }
            },
            template: `<div>
                <compo :counter="count" @add="IhandleClick"/>
                        <composlot v-slot="band" #BandOne>
                            <div>{{band.member}}</div>
                        </composlot>
                </div>`
        });

        app.component("compo", {
            props: ["counter"],
            emits: {
                add: (value) => {
                    return value < 20;
                }
            },
            methods: {
                handleClick() {
                    //在子组件函数中写业务逻辑  this.count + 2
                    this.$emit("add", this.counter + 2);
                }
            },
            template: `<div>
                {{counter}}<button @click="handleClick">Plus</button>
                </div>`
        });

        app.component("composlot", {
            data() {
                return {
                    DIRENGREY: ["Kyo", "Kaoru", "Die", "Toshiya", "Shinya"],
                    ONEOKROCK: ["TAKA", "TORU", "ALEX", "LYOTA", "TOMOYA"]
                }
            },
            template: `
            <slot v-for="member in ONEOKROCK" :member="member" name="BandOne"></slot>
            <slot v-for="member in DIRENGREY" :member="member"/>`
        })

        var vm = app.mount("#app");
    </script>
</body>

</html>